.DS_Store
.build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
SarjBul.xcodeproj/
SarjBul/Resources/AppConfig.plist
SarjBul/Resources/GoogleService-Info.plist
firebase/functions/node_modules/
.firebase/
firebase-debug.log
__pycache__/
*.pyc
